header{
    height: 50px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}
body{
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../icons/Background.png');
    margin: 0px;
}

.container{
    background-color: blue;
    height: 93vh;
    display: block;
    justify-content: center;
}
.logo-div{
    background-color: rgb(204, 65, 65);
    display: flex;
    justify-content: center;
}
.logo{
    height: 200px;
    width: 200px;
    display: flex;
    background-color: aquamarine;
}

.menu-button{
    margin-left: 10px;
    border: none;
    padding: 5px;
    border-radius: 25px;
}
.search-div{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aqua;
}

.search-field{
    border: none;
    position: relative;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.257);
    height: 40px;
    width: 25%;
    min-width: 250px;
    border-radius: 20px;
    padding-left: 15px;
}
.search-field::placeholder{
    color:rgb(189, 202, 210);

}
.search-field:focus{
    outline: none;
}