header{
    height: 10vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../icons/Background.png');
    margin: 0px;
}

.container{
    background-color: rgba(0, 0, 255, 0.195);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.logo-div{
    background-color: rgba(0, 238, 255, 0);
    margin-bottom: 50vh;
}
.logo{
    height: 150px;
    width: 150px;
}

.menu-button{
    margin-left: 10px;
    border: none;
    padding: 5px;
    border-radius: 25px;
}

.search-div{
    background-color: rgba(255, 0, 38, 0);
    position: absolute;
}
.search-field{
    border: none;
    position: relative;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.257);
    height: 45px;
    width: 30vw;
    min-width: 250px;
    border-radius: 20px;
    padding-left: 15px;
}
.search-field::placeholder{
    color:rgb(189, 202, 210);

}
.search-field:focus{
    outline: none;
}
.weather-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.096);
    position: absolute;
    margin-top: 50vh;
}